body {
    color: inherit;
    background-color: #dfdfdf;
}

.ag-blue .ag-cell-no-focus {
    border-top: 0 !important;
    border-bottom: 0 !important;
    font-size: 12px;
}

.ag-row {
    width: 100% !important;
    border-right: 1px dotted #9bc2e6 !important;
    border-left: 2px solid transparent !important;
    border-top: 2px solid transparent !important;
    border-bottom: 1px dotted #9bc2e6 !important;
}

.ag-body-container {
    width: 100% !important;
}

.list-group-item {
    font-size: 13px;
    border: solid 1px #bcbcbc !important;
}

.list-group-item-primary {
    color: #ffffff;
    background-color: #375a7f;
}

.form-control, form-control:focus {
    border: 1px solid #c2c2c2 !important;
}

ag-grid-angular {
    width: 100%;
    height: 100%;
}

.grid-container {
    height: 85vh;
}

.classes-container {
    height: 100vh;
    padding-top: 20px;
    overflow-y: scroll;
}

.content-container{
    height: 100vh;
}

.input-group{
    padding-top: 50px;
    padding-bottom: 10px;
}
